---
// src/layouts/BaseLayout.astro
import { resolveMetadata } from "virtual:@lucky-media/astro-seo";
import SEO from "@lucky-media/astro-seo/SEO.astro";
import type { Metadata } from "virtual:@lucky-media/astro-seo";

interface Props {
  metadata?: Metadata;
}

const resolved = resolveMetadata(Astro.props.metadata);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO metadata={resolved} />
  </head>
  <body>
    <slot />
  </body>
</html>
